html {
    background-color: #111;
    color: #393;
    font-family: monospace;
    font-size: 1.15rem;
}

li, input {
    margin: 1rem 0;
}

pre {
    overflow: hidden;
    transition: ease-in 3s;
}

main {
    width: 40rem;
    margin: 0 auto;
    border: 1px solid #333;
    padding: 0.25rem 1rem;
    min-height: 30rem;
    background-color: #222;
}

#answers {
    margin: 10px 0;
}

.answer {
    margin: 10px 0;
    padding: 10px;
    cursor: pointer;
    border: 1px solid #393;
}

#message {
    font-weight: bold;
}